{%extends 'base.html'%}
{% load static %}
{%block content%}
<div class="container">
    <main>
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li> / </li>
                <li>Account</li>
            </ul>
        </div> <!-- End of Breadcrumb-->
        
        <div class="account-page">
            <div class="profile">
                <div class="profile-img">
                    <img src="{% static 'img/product/img5.jpg' %}">
                    <h2>John Doe</h2>
                    <p>john_doe@mail.com</p>
                </div>
                <ul>
                    <li><a href="account.html" class="active">Account <span>></span></a></li>
                    <li><a href="orders.html">My Orders <span>></span></a></li>
                    <li><a href="change-password.html">Change Password <span>></span></a></li>
                    <li><a href="">Logout <span>></span></a></li>
                </ul>
            </div>
            <div class="account-detail">
                <h2>Account</h2>
                <div class="billing-detail">					
                    <form class="checkout-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" id="fname" name="fname" value="John">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" id="lname" name="lname" value="Doe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Company Name (Optional)</label>
                            <input type="text" id="cname" name="cname">
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Country</label>
                                <select id="country" name="country">
                                    <option selected>---Select a Country---</option>
                                    <option value="pakistan">Pakistan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <select id="city" name="city">
                                    <option selected>---Select a City---</option>
                                    <option value="karachi">Karachi</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea style="resize:none" id="address" name="address" rows="3">xyz area, street 24 </textarea>
                        </div>
                        <div class="form-inline">					
                            <div class="form-group">
                                <label>Tel</label>
                                <input type="text" id="tel" name="tel" minlength="11" maxlength="11" value="555-XXXXXXX">
                            </div>
                            <div class="form-group">
                                <label>Mobile</label>
                                <input type="text" id="mobile" name="mobile" minlength="11" maxlength="11" value="555-XXXXXXX">
                            </div>
                        </div>
                        <div class="form-group">
                            <label></label>
                            <input type="submit" id="update" name="update" value="Update">
                        </div>
                    </form>		
                </div>
            </div>				
        </div>		
    </main> <!-- Main Area -->
</div>
{%endblock content%}